@import "tailwindcss/tailwind.css"

html, body
    min-width: 300px
    height: auto
    min-height: 100vh

#__next, #hh-space
    height: 100%
    background-color: hsla(var(--b1) / var(--tw-bg-opacity,1))
    transition: background-color 0.5s
