@import "./utils.module"

.navbar
    height: 86px
    display: flex
    align-items: center
    //box-shadow: 0 .125rem .25rem rgba(#000000, .075)
    position: fixed
    top: 0
    left: 0
    width: 100%
    overflow-x: scroll
    -ms-overflow-style: none
    scrollbar-width: none
    z-index: 10
    background-color: var(--theme-background-color)

    &::-webkit-scrollbar
        display: none

    .logo
        font-size: 22px
        font-weight: 600
        color: var(--theme-text-color-bright)
        white-space: nowrap
        line-height: 86px

        .logotail
            font-size: 11px
            font-weight: normal

        @include below(sm)
            margin-right: 50px

    .navigator
        margin: 0
        padding: 0
        list-style: none
        display: inline-flex
        align-items: center
        margin-left: auto

        @include below(sm)
            padding-right: 15px

        .item
            padding-left: 15px
            text-transform: uppercase

            a:hover
                color: var(--theme-text-color-bright)

    .toggler
        background-color: transparent
        border: none
        outline: none
        font-size: 32px
        display: inline-flex
        align-self: center
        margin-left: auto
        padding: 0
        margin-right: -5px
        color: var(--theme-text-color)
        cursor: pointer